/* The row. */

.splitterer {
    flex: 1;
    display: flex;
    height: 200px;
}

.splitterer--vertical {
    flex-direction: column;
}

/* Panels. */

.splitterer > div:nth-child(odd) {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.splitterer > div:nth-child(odd) > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 20px;
}

/* Handle. */

.splitterer > div:nth-child(even) {
    box-sizing: border-box;
}

.splitterer--horizontal > div:nth-child(even) {
    width: 5px;
    cursor: ew-resize;
}

.splitterer--vertical > div:nth-child(even) {
    height: 5px;
    cursor: ns-resize;
}

.splitterer--dragging.splitterer--horizontal > div:nth-child(even) {
    cursor: col-resize;
}

.splitterer--dragging.splitterer--vertical > div:nth-child(even) {
    cursor: row-resize;
}
